<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-secutiry">
<head>
    <meta charset="UTF-8">
    <title>Luv2code Company Home Page - Yoohoo!!</title>
</head>
<body>
    <h2>luv2code Company Home Page</h2>
    <hr>
    <p>Welcome to the luv2code company home page!</p>
    <hr>
    
    <!-- Display username and role -->
    <div>
        <p>User: <span sec:authentication="principal.username"></span></p>
        <p>Role(s): <span sec:authentication="principal.authorities"></span></p>
    </div>
    <hr>

    <!-- Add link to point /leaders -->
    <p>
        <a th:href="@{/leaders}">Leadership Meeting</a>
        (only for manager peeps)
    </p>

    <!-- Add link to point /system -->
    <p>
        <a th:href="@{/systems}">IT System Meeting</a>
        (only for admin peeps)
    </p>

    <!-- Add a logout button -->
    <form th:action="@{/logout}" method="post">
        <button type="submit">logout</button>
    </form>
</body>
</html>