<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thymeleaf Demo</title>
</head>
<body>
    Hello World of Spring!
    <br>
    <!-- 
        studentName เป็นชื่อของ input อันที่ถูกส่งมาจาก form ที่ผู้ใช้กรอกมา 

        param
            ใช้สำหรับดึงข้อมูลจาก url parameters
    -->
    Student name: <span th:text="${param.studentName}"></span>
</body>
</html>